@model Fileesharing.Models.UserViewModel
@inject IViewLocalizer localizer
@{
	ViewData["InfoTitle"] = "Info";
}


@if (!ViewContext.ModelState.IsValid)
{
	<div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger text-center"></div>
}

<section id="mu-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-contact-area">
					<!-- Title -->
					<div class="row">
						<div class="col-md-12">
							<div class="mu-title">
								<h2>@localizer["InfoTitle"]</h2>
							</div>
						</div>
					</div>
					<!-- Start Register Content -->
					<div class="mu-contact-content">
						<div class="row">

							<div class="col-md-12">
								<div class="mu-contact-form-area" style="padding-top:0px">
									<div id="form-messages"></div>
									<form method="post" class="mu-contact-form" asp-action="Info" asp-controller="Account">
										<div class="form-group">
											<span class="fa fa-user mu-contact-icon"></span>
											<input asp-for="FirstName" type="text" class="form-control" placeholder="@localizer["FirstName"]" id="firstname" required>
											<span asp-validation-for="FirstName"></span>
										</div>
										<div class="form-group">
											<span class="fa fa-user mu-contact-icon"></span>
											<input asp-for="LastName" type="text" class="form-control" placeholder="@localizer["LastName"]" id="lastname" required>
											<span asp-validation-for="LastName"></span>
										</div>
										<div class="form-group">
											<span class="fa fa-user mu-contact-icon"></span>
											<input asp-for="Email" type="email" class="form-control" placeholder="@localizer["Email"]" id="email" required readonly>
											<span asp-validation-for="Email"></span>
										</div>

										<button type="submit" class="mu-send-msg-btn"><span>@localizer["Submit"]</span></button>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!-- End Regiser Content -->
				</div>
			</div>
		</div>
	</div>
</section>


@*@{await Html.RenderPartialAsync("_ChangePassword",new ChangePasswordViewModel());}
*@
@if (Model.HasPassword)
{
	<partial name="_ChangePasswordPartial" model="new ChangePasswordViewModel()" />
}
else
{
	<partial name="_AddPasswordPartial" model="new AddPasswordViewModel()" />
}
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

