@model Fileesharing.Models.ResetPasswordViewModel
@inject IViewLocalizer localizer;
@{
	ViewData["Title"] = "ResetPassword";
}


<section id="mu-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-contact-area">
					<!-- Title -->
					<div class="row">
						<div class="col-md-12">
							<div class="mu-title">
								<h2>@localizer["ChangePasswordLabel"]</h2>
							</div>
						</div>
					</div>
					<!-- Start Login Content -->
					<div class="mu-contact-content">
						<div class="row">

							<div class="col-md-12">
								<div class="mu-contact-form-area" style="padding-top:0px">
									<div id="form-messages"></div>
									<form method="post" class="mu-contact-form" asp-action="ResetPassword" asp-controller="Account">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<div class="form-group">
											<span class="fa fa-user mu-contact-icon"></span>
											<input asp-for="NewPassword" type="password" class="form-control" placeholder="@localizer["NewPassword"]" id="newpassword" required>
											<span asp-validation-for="NewPassword"></span>
										</div>
										<div class="form-group">
											<span class="fa fa-user mu-contact-icon"></span>
											<input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="@localizer["ConfirmPassword"]" id="confirmpassword" required>
											<span asp-validation-for="ConfirmPassword"></span>
										</div>
										<input type="hidden" asp-for="Email" value="@Context.Request.Query["Email"]" />
										<input type="hidden" asp-for="token" value="@Context.Request.Query["token"]" />
										<button type="submit" class="mu-send-msg-btn"><span>@localizer["Submit"]</span></button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- End Login Content -->
				</div>
			</div>
		</div>
	</div>
</section>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
    }
